<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
        Расписание занятий Бгуир
    {% endblock title %}</title>
    <!-- Bootstrap -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--Google analytics -->
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34673267-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<ul class="nav nav-tabs">
  <li><a href="/">Домой</a></li>
</ul>
<div>
<a href="https://github.com/peleccom/bsuirsched"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a></div>
    {% block content %}
        ggg
    {% endblock content %}
    {% block footer %}
    <footer class="footer">
            <p class="well pull-left" >
                <a href="mailto:peleccom@mail.ru">Питкин Александр</a>, 2012
                <br>
                <img src="https://developers.google.com/appengine/images/appengine-silver-120x30.gif" 
alt="Powered by Google App Engine" />   
            </p>
        </div>
    </footer>     
    {% endblock footer %}
    <!-- Boostrap scripts -->
    <script type="text/javascript" src="static/bootstrap/js/jquery-1.8.0.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>