<div class="well">
{% if studyday %}
<table class="table table-bordered table-condensed table-striped table-hover">
  <caption>
      <div class="well">
          Группа <span class="text-info"> {{ group }}</span><br />
          {% if subgroup and subgroup != 0 %}
          Подгруппа <span class="text-info">{{ subgroup }}</span> <br />         
          {% endif %}
          {{ studyday.get_full_name }}
          <span class="text-info"> {{ target_date|date:"d-m-Y" }}</span><br />
          Неделя <span class="text-info"> {{ weeknum }}</span>
      </div>
  </caption>
  <thead>
    <tr><th>Недели</th><th>Время</th><th>Подгр.</th><th>Предмет</th><th>Тип</th><th>Аудит.</th><th>Преподаватель</th></tr>
  </thead>
<tbody>
<tr>
  <td>
    {% for lesson in studyday  %}
        <div>{{ lesson.get_weeks_str }}<br></div>
    {% endfor %}
  </td>
  <td>
    {% for lesson in studyday  %}
        <div>{{ lesson.get_time_str }}<br></div>
    {% endfor %}
  </td>
  <td>
    {% for lesson in studyday  %}
        <div>{{ lesson.get_subgroup_str }}<br></div>
    {% endfor %}
  </td>
  <td>
    {% for lesson in studyday  %}
        <div {% if not lesson.get_lesson_type_object.is_lec %}class="practical_lesson"{% endif %}>{{ lesson.get_subject_str }}<br></div>
    {% endfor %}
  </td>
  <td>
    {% for lesson in studyday  %}
        <div>{{ lesson.get_lesson_type_str }}<br></div>
    {% endfor %}
  </td>
  <td>
    {% for lesson in studyday  %}
        <div>{{ lesson.get_place_str }}<br></div>
    {% endfor %}
  </td>
  <td>
    {% for lesson in studyday  %}
        <div>{{ lesson.get_lecturer_str }}<br></div>
    {% endfor %}
  </td>
</tr>
</tbody>
</table>
<small class="pull-right text-info">Последнее обновление с bsuir.by расписания для этой группы : {{ fetcheddate|date:"d.m.Y H:i:s" }}</small>
{% else %}
{% if target_date %} {# Есть дата значит данные получены но это не учебный день #}
<div class="pagination-centered text-warning">Нет занятий </div>
{% else %} {# !target_date and ! study_day#}
{# Пусто так как это обычный get-запрос #}
{% endif %}
{% endif %}
</div>