{% extends "base.html" %}
{% block title %}
  Ошибка
{% endblock title %}
{% block content %}
<div class="offset2">
    <h1>
  {# <p class="text-warning"> #}
    Не удалось получить расписание.
{# </p> #}
    </h1>
</div>
<div class="offset2">
    <h2>Возможно, что-то не так с самим сайтом bsuir.by</h2>
</div>
<br>
<hr>
<div class="offset2">
    <h3>
    Можно попробовать посмотреть расписание напрямую по <a href="http://www.bsuir.by/psched/schedulegroup?group={{ group|urlencode }}">этой ссылке</a>
    </h3>
</div>

{% endblock content %}