{% extends "base.html" %}
{% block title %}
  Ошибка
{% endblock title %}
{% block content %}
<div class="pagination-centered">
    <h1>
  <p class="text-error"> 
    Не удалось получить расписание.
</p> 
    </h1>
</div>
<div class="pagination-centered">
    <h2>Возможно, что-то не так с самим сайтом bsuir.by</h2>
</div>
<br>
<hr>
<div class="pagination-centered">
    <h3>
    <p class="text-warning">
        Можно попробовать посмотреть расписание напрямую по <a href="http://www.bsuir.by/psched/schedulegroup?group={{ group|urlencode }}">этой ссылке</a>
    </p>
    </h3>
</div>

{% endblock content %}