{% extends "base.html" %}
{% block content %}
    <form action="weekschedule" method="get" class="form-inline">
      <fieldset>
        <legend>Расписание на неделю</legend>
        <label for="group">Группа</label>    
        <input type="text" name="group" id="group" placeholder="Введите номер группы" class="input-medium">
        <label for="subgroup">Подгруппа</label>
        <select name="subgroup" id="subgroup" class="input-small">
          <option value="0">Все</option>
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
        <label for="week">Неделя</label>
        <select name="week" id="week" class="input-small">
          <option value="0">Все</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        <button type="submit" class="btn">Получить расписание</button>
      </fieldset>
    </form>

{% endblock content %}